---
import "../../styles/global.css";
import { getSortedPosts, groupByYear } from "../../scripts/utils";

import type { GetStaticPaths } from "astro";

export const pageSize = 10;

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();

  return paginate(posts, { pageSize: pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1);

const postsByYear = groupByYear(page.data);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
    <title>vault</title>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <h1>vault</h1>
        <p>Page {page.currentPage}/{page.lastPage}</p>
      </div>

      <div class="content">
        <!-- Display posts grouped by year -->
        <div class="posts-by-year">
          {
            Object.keys(postsByYear)
              .sort((a, b) => b - a)
              .map((year) => (
                <div class="year-group" key={year}>
                  <h2 style="text-align: right; margin-top: 0">{year}</h2>
                  <ul>
                    {postsByYear[year].map((post) => (
                      <li key={post.id}>
                        <div>
                          <strong>{post.data.title}</strong> -{" "}
                          <em>{post.data.published?.toDateString()}</em>
                          <br />
                          <a href={`/vault/${post.id}`}>Read more</a>
                        </div>
                      </li>
                    ))}
                  </ul>
                </div>
              ))
          }
        </div>

        <!-- Pagination controls -->
        {
          page.lastPage > 1 && (
            <nav>
              {page.url.prev && <a href={page.url.prev}>Previous Page</a>}
              {pageNums.map((num) => (
                <a href={`/vault/${num === 1 ? "" : num + "/"}`}>{num}</a>
              ))}
              {page.url.next && <a href={page.url.next}>Next Page</a>}
            </nav>
          )
        }
      </div>
    </div>

    <script src="../../scripts/wrap.js"></script>
  </body>
</html>
