---
import "../../styles/global.css";
import { getSortedPosts, groupByYear } from "../../scripts/posts";
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const pageSize = 100000; // TODO

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();

  return paginate(posts, { pageSize: pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1);

const postsByYear = groupByYear(page.data);

const pageTitle = "vault";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="title">
      <h1>vault</h1>
      <p>All the posts</p>
    </div>

    <div class="content list">
      <!-- Display posts grouped by year -->
      {
        Object.keys(postsByYear)
          .sort((a, b) => b - a)
          .map((year) => (
            <>
              <h1>{year}</h1>
              <ol>
                {postsByYear[year].map((post) => {
                  // Format the date
                  const publishedDate = post.data.published;
                  const dd = publishedDate
                    .getDate()
                    .toString()
                    .padStart(2, "0"); // e.g., "01"
                  const mmm = publishedDate
                    .toLocaleString("en-US", { month: "short" }) // e.g., "Jan"
                    .toLowerCase();
                  return (
                    <li>
                      <a href={`/vault/${post.id}`} title={post.data.title}>
                        {post.id}{" "}
                      </a>
                      <span class="dots" />
                      <span>
                        {mmm}&thinsp;<sup>{dd}</sup>
                      </span>
                    </li>
                  );
                })}
              </ol>
            </>
          ))
      }

      <!-- Pagination controls -->
      {
        page.lastPage > 1 && (
          <nav>
            {page.url.prev && <a href={page.url.prev}>Previous Page</a>}
            {pageNums.map((num) => (
              <a href={`/vault/${num === 1 ? "" : num + "/"}`}>{num}</a>
            ))}
            {page.url.next && <a href={page.url.next}>Next Page</a>}
          </nav>
        )
      }
    </div>
  </div>
</BaseLayout>
