---
import { getSortedPosts } from "../../utils";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "My Astro Learning Blog";

const sortedPosts = await getSortedPosts();
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      sortedPosts.map((post) => (
        <li>
          <div>
            {post.data.published}
            <em>{post.filePath}</em>{" "}
            <a href={`/vault/${post.id}`}>{post.id}</a>
            {" "}({post.data.title})
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
