---
import RedirectedLink from "../RedirectedLink.astro";
import { formatDate, formatSlug } from "../../scripts/util";
const { tag, year, posts } = Astro.props;
---

<ol>
  {
    posts.map((post) => {
      const { dd, mmm, yyyy } = formatDate(post.data.published);
      return (
        <li>
          <span>
            <RedirectedLink
              class = "text"
              href={`/${post.id}`}
              title={post.data.redirect}
              destination={post.data.redirect}
            >
              {post.data.title || (
                <span style="text-transform: capitalize;">{formatSlug(post.id)}</span>
              )}
            </RedirectedLink>
          </span>

          <div class="date">  
            <a href={`/${tag}/${year}`} class="text">
              {yyyy}
            </a>
          </div>
        </li>
      );
    })
  }
</ol>
