---
import "../../styles/media.css";
import { Image } from "astro:assets";
import RedirectedLink from "../RedirectedLink.astro";
import { parseMedia } from "../../scripts/media.ts";
import { formatSlug } from "../../scripts/util";
const { posts } = Astro.props;
---

<style>
  /* Must be declared here and not in media.css; otherwise Astro strips this out in build */
  .grid-sizer {
    width: 25%; /* Must be inverse of MAXWIDTH in util.ts */
  }
</style>

<div class="grid">
  <div class="grid-sizer"></div>
  {
    posts.map((post) => {
      const { images, widths } = parseMedia(post.data.media);
      return (
        <>
          <div class="grid-item" style="height: 3rem; width: 100%;">
            <div
              class="grid-item-content"
              style="display: flex; justify-content: center; align-items: center;"
            >
              <RedirectedLink
                href={`/${post.id}`}
                title={post.data.title}
                destination={post.data.redirect}
              >
                {formatSlug(post.id)}
              </RedirectedLink>
            </div>
          </div>

          {images.map((image, index) => {
            const w = widths[index];
            const z = Math.ceil(1000 * widths[index]);
            return (
              <div
                class="grid-item"
                data-id={post.id}
                data-index={index}
                style={`width: ${w * 100}%; z-index: ${z};`}
              >
                <div class="grid-item-content">
                  <Image
                    src={image}
                    alt={post.data.title}
                    title={post.data.title}
                  />
                </div>
              </div>
            );
          })}
        </>
      );
    })
  }
</div>

<div id="data" data-target=".grid">
  <!-- <script src="./media.js"></script> -->
</div>
