---
import RedirectedLink from "../RedirectedLink.astro";
import { formatDate, formatSlug } from "../../scripts/util";
import { FONT_RATIO, FONT_SYMBOLS } from "../../scripts/chafa";
import { Markdown } from '@astropub/md'


import Chafa from "chafa-wasm";
import { promises as fs } from "node:fs";
import path from "node:path";
import { promisify } from "node:util";

const fontFamily  = 'triplicate_a_code_regular';
const fontRatio  = FONT_RATIO[fontFamily];
const fontSymbols = FONT_SYMBOLS[fontFamily];

const chafaWidth = 6; // Number of text lines
const chafaDensity = 4; // Number of Chafa blocks per line

/* initialise a single WASM instance */
const chafa = await Chafa();
const imageToHtml = promisify(chafa.imageToHtml);

function viteSrcToAbs(src) {
  return path.resolve(src.replace(/^\/@fs/, "").split("?")[0]);
}

function resolveSrc(src) {
  if (src.startsWith("/@fs")) return viteSrcToAbs(src);
  if (src.startsWith("/_astro/")) {
    return path.resolve(`./dist/${src}`);
  }
  return path.resolve(src);
}

async function chafaHtml(viteSrc) {
  const buf = await fs.readFile(resolveSrc(viteSrc));
  const arrayBuffer = buf.buffer.slice(buf.byteOffset, buf.byteOffset + buf.byteLength);
  const { html } = await imageToHtml(arrayBuffer, {
    format: chafa.ChafaPixelMode.CHAFA_PIXEL_MODE_SYMBOLS.value,
    width: chafaWidth * chafaDensity,
    fontRatio,
    colors: chafa.ChafaCanvasMode.CHAFA_CANVAS_MODE_FGBG.value,
    colorExtractor: chafa.ChafaColorExtractor.CHAFA_COLOR_EXTRACTOR_MEDIAN.value,
    colorSpace: chafa.ChafaColorSpace.CHAFA_COLOR_SPACE_RGB.value,
    symbols: fontSymbols,
    fill: "none",
    fg: 0x1b1818,
    bg: 0x00ff00,
    fgOnly: false,
    dither: chafa.ChafaDitherMode.CHAFA_DITHER_MODE_NONE.value,
    ditherGrainWidth: 4,
    ditherGrainHeight: 4,
    ditherIntensity: 1.0,
    preprocess: true,
    threshold: 0.5,
    optimize: 5,
    work: 9
  });
  return html;
}

/* -------- pre-compute ANSI blocks for each post -------- */
// apparently needs to be done cos we cant use await below
const { tag, year, posts } = Astro.props;

function getImages(media = []) {
  return media.filter((i) => i.image).map((i) => i.image);
}

for (const p of posts) {
  p._ascii = [];
  for (const img of getImages(p.data.media)) {
    p._ascii.push(await chafaHtml(img.src));
  }
}
---

<style define:vars={{ fontRatio, fontFamily, chafaHeight: chafaDensity }}>
  .ascii {
    font-family: var(--fontFamily), monospace;
    white-space: pre;
    letter-spacing: 0;
    font-size: calc(1em / var(--chafaHeight));
    line-height: calc(1em / var(--fontRatio));
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 0.5em;
  }
</style>

<ol>
  {
    posts.map((post) => {
      const { dd, mmm, yyyy } = formatDate(post.data.published);
      const media = post.data.media ?? [];
      const description = media.find((i) => i.description)?.description ?? "";

      return (
        <li>
          <span>
            <RedirectedLink
              class="text"
              href={`/${post.id}`}
              title={post.data.redirect}
              destination={post.data.redirect}
            >
              {formatSlug(post.id)}
            </RedirectedLink>
            <span style="font-size: smaller; font-style: italic;">
                {description && <Markdown.Inline of={description} />}
            </span>
          </span>

          <div class="date" style="display: inline-block">
            {post._ascii.map((html) => (
              <>
                <a href={`/${post.id}`}>
                  <pre class="ascii" set:html={html} />
                </a>
                <br />
              </>
            ))}

            <span style="font-size: smaller;">
             <a href={`/${tag}/${year}`} class="text">{yyyy}</a> <sup>{mmm}</sup>
            </span>
          </div>
        </li>
      );
    })
  }
</ol>
