---
import RedirectedLink from "../RedirectedLink.astro";
import { formatDate } from "../../scripts/util";

const { tag, year, posts } = Astro.props;
---

<h1><a href=`/${tag}/${year}` class="text">{year}</a></h1>
<ol>
  {
    posts.map((post) => {
      const { dd, mmm } = formatDate(post.data.published);
      return (
        <li>
          <span>
            <RedirectedLink
              href={`/${post.id}`}
              title={post.data.title}
              destination={post.data.redirect}
            >
              {post.id}
            </RedirectedLink>
          </span>

          <div class="date">
            {mmm}<sup>{dd}</sup>
          </div>
        </li>
      );
    })
  }
</ol>
