---
import "../../styles/global.css";
import { getSortedPosts, groupByYear } from "../../scripts/posts";
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import psl from 'psl';

export const pageSize = 100000; // TODO

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();

  const filteredPosts = posts.filter((post) => post.data.tags?.includes("research"));

  return paginate(filteredPosts, { pageSize: pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1);

const postsByYear = groupByYear(page.data);

const pageTitle = "research";

function getBaseDomain(url) {
  const domain = new URL(url).hostname;
  const parsed = psl.parse(domain);
  
  if (parsed.error) throw new Error('Invalid domain');
  
  return parsed.domain;
}

---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="title">
      <h1>research</h1>
    </div>

    <div class="content list">
      <!-- Display posts grouped by year -->
      {
        Object.keys(postsByYear)
          .sort((a, b) => b - a)
          .map((year) => (
            <>
              <h1>{year}</h1>
              <ol>
                {postsByYear[year].map((post) => {
                  // Get domain from redirect
                  const baseDomain = getBaseDomain(post.data.redirect);

                  // Format the date
                  const publishedDate = post.data.published;
                  const dd = publishedDate
                    .getDate()
                    .toString()
                    .padStart(2, "0"); // e.g., "01"
                  const mmm = publishedDate
                    .toLocaleString("en-US", { month: "short" }) // e.g., "Jan"
                    .toLowerCase();
                    return (
                    <li>
                      <a href={`/vault/${post.id}`} title={post.data.id}>
                        {post.data.title}
                      </a>
                      <span class="dots" />
                      {
                        post.data.redirect
                          ? <sup style="font-size: x-small">[{getBaseDomain(post.data.redirect)}]</sup> : null
                      }
                      <span>
                        {mmm}&thinsp;<sup>{dd}</sup>
                      </span>
                    </li>
                  );
                })}
              </ol>
            </>
          ))
      }

      <!-- Pagination controls -->
      {
        page.lastPage > 1 && (
          <nav>
            {page.url.prev && <a href={page.url.prev}>Previous Page</a>}
            {pageNums.map((num) => (
              <a href={`/vault/${num === 1 ? "" : num + "/"}`}>{num}</a>
            ))}
            {page.url.next && <a href={page.url.next}>Next Page</a>}
          </nav>
        )
      }
    </div>
  </div>
</BaseLayout>
