---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("vault", ({ data }) => {
  return data.publish === true;
});
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <div>
            <em>{post.filePath}</em>{" "}
            <a href={`/vault/${post.id}`}>{post.id}</a>
            {" "}({post.data.title})
          </div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
