---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {
  getPosts,
  groupByTagAndYear,
  sortYearsDescending,
  sortPostsDescending,
  findTagPost,
} from "../../scripts/posts";
import Posts from "../../components/Posts.astro";
import PostNavigation from "../../layouts/PostNavigation.astro";
import SiteNavigation from "../../layouts/SiteNavigation.astro";

export async function getStaticPaths() {
  const grouped = groupByTagAndYear(await getPosts());
  const paths = [];

  for (const tag in grouped) {
    const years = Object.keys(grouped[tag]);
    paths.push({
      params: { tag },
      props: { years, grouped },
    });

    for (const year of years) {
      paths.push({
        params: { tag, year },
        props: { years: [year], grouped },
      });
    }
  }

  return paths;
}

const { tag, year } = Astro.params;
const { years, grouped } = Astro.props;

const sortedYears = sortYearsDescending(years);

const tagPost = await findTagPost(tag);
---

<BaseLayout pageTitle={Astro.url.pathname}>
  <div class="container">
    <div class="title">
      <a href=`/${tag}` class="text"><h1>{tag}</h1></a>
      <p>{tagPost?.data.title}</p>
    </div>

    <div class="content">
      <Fragment set:html={tagPost?.rendered?.html} />

      <div class=`yearly ${tag}`>
        {
          sortedYears.map((year) => {
            const posts = grouped[tag][year];
            const sortedPosts = sortPostsDescending(posts);

            return <Posts tag={tag} year={year} posts={sortedPosts} />;
          })
        }
      </div>
    </div>
  </div>

  <PostNavigation />
  <SiteNavigation />
</BaseLayout>
