---
import "../../styles/posts.css";
import PageLayout from "../../layouts/PageLayout.astro";
import Posts from "../../components/Posts.astro";
import PaginatedPosts from "../../components/PaginatedPosts.astro";
import {
  getPosts,
  groupByTagAndYear,
  sortYearsDescending,
  sortPostsDescending,
  findTagPost,
  getPrimaryTag,
} from "../../scripts/posts";

export async function getStaticPaths() {
  const grouped = groupByTagAndYear(await getPosts());
  const paths = [];

  for (const tag in grouped) {
    const years = Object.keys(grouped[tag]);
    paths.push({
      params: { tag },
      props: { years },
    });

    for (const year of years) {
      const posts = grouped[tag][year];
      paths.push({
        params: { tag, year },
        props: { posts },
      });
    }
  }

  return paths;
}

const { tag, year } = Astro.params;
let { posts, years } = Astro.props;

posts = posts && sortPostsDescending(posts);
years = years && sortYearsDescending(years);

const tagPost = await findTagPost(tag);
---

<PageLayout
  title={tagPost?.data.title}
  primaryTag={getPrimaryTag([tag])}
>
  <Fragment set:html={tagPost?.rendered?.html} />

  {
    /* If the tag has nonempty html content, provide vertical space to breathe */
    tagPost?.rendered?.html && (
      <div class="tag-description" style="margin-bottom: 2rem;" />
    )
  }

  
    {posts && <Posts tag={tag} year={year} posts={posts} />}

    {
      years && (
      <div class={`yearly ${tag}`}>
        <PaginatedPosts tag={tag} years={years} target={`.yearly`} />
      </div>
      )
    }
  
</PageLayout>
