---
import "../styles/global.css";
import "../styles/content.css";

import Navigation from "./Navigation.astro";
import Title from "../components/Title.astro";
import { formatSlug } from "../scripts/util";

const { title, subtitle, primaryTag } = Astro.props;

const pageTitle = formatSlug(Astro.url.pathname);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Fixes glitch on iOS: https://stackoverflow.com/a/6138970/6783015 -->
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"
    />

    <meta name="format-detection" content="telephone=no" />
    <title>{pageTitle}</title>

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
  </head>
  <body>
    <nav class="ongrid">
      <div class="bleed">
        <Navigation class="bleed" selectedTag={primaryTag} />
      </div>
    </nav>

    <main>
      <div class="ongrid">
        <Title title={title} subtitle={subtitle} />
      </div>

      <article class="ongrid content">
        <slot />
      </article>
    </main>
  </body>
</html>
