---
import "../styles/global.css";
import "../styles/content.css";

import Navigation from "./Navigation.astro";
import Title from "../components/Title.astro";

const { title, primaryTag } = Astro.props;

function replaceHyphens(slug: string) {
  return slug.replace(/-/g, ' ');
}

function removeTrailingSlash(path: string) {
  return path.endsWith('/') ? path.slice(0, -1) : path;
}

const pageTitle = replaceHyphens(removeTrailingSlash(Astro.url.pathname));

const {
  canonical = `https://marnixvanso.om${Astro.url.pathname}`,
  description = "marnixvanso.om",
  keywords = "R&D, blog, research, media art, machine learning, probability, alexander technique, music, Marnix Van Soom"
} = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="canonical" href={canonical} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="marnixvanso.om" />
    <meta name="robots" content="index, follow" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Fixes glitch on iOS: https://stackoverflow.com/a/6138970/6783015 -->
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"
    />

    <meta name="format-detection" content="telephone=no" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    
    <title>{pageTitle}</title>
  </head>
  <body>
    <nav class="ongrid">
      <div class="bleed">
        <Navigation class="bleed" selectedTag={primaryTag} />
      </div>
    </nav>

    <main>
      <div class="ongrid">
        <Title title={title} />
      </div>

      <article class="ongrid content">
        <slot />
      </article>
    </main>
  </body>
</html>
