---
import "../styles/global.css";
import "../styles/content.css";

import Navigation from "./Navigation.astro";
import Title from "../components/Title.astro";

const { title, subtitle, primaryTag } = Astro.props;

const pageTitle = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>{pageTitle}</title>

    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/triplicate-heavy.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="/butterick/core-fonts.css"
    />
  </head>
  <body>
    <header class="ongrid">
      <nav class="bleed">
        <Navigation class="bleed" selectedTag={primaryTag} />
      </nav>
    </header>

    <main>
      <div class="ongrid">
        <Title subtitle={subtitle}>[{title}]</Title>
      </div>

      <article class="ongrid content">
        <slot />
      </article>
    </main>
  </body>
</html>
