---
import "../../styles/global.css";
import { getSortedPosts, groupByYear } from "../../scripts/posts";
import { formatDate } from "../../scripts/util";
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";

export const pageSize = 100000; // TODO

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();

  const filteredPosts = posts.filter((post) =>
    post.data.tags?.includes("media")
  );

  return paginate(filteredPosts, { pageSize: pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1);

const postsByYear = groupByYear(page.data);

const pageTitle = "media";
---

<style>
  /* TODO/FIXME: using ul instead of ol as temporary fix but needs more specific classes */
  .content.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .content.list ul li {
    margin: 0;
    padding: 0;
    margin-bottom: 1ch;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="title">
      <h1>media</h1>
    </div>

    <div class="content list">
      <ul>
        {
          page.data.map((post) => {
            const { dd, mmm } = formatDate(post.data.published);
            return (
              <li>
                <a href={`/vault/${post.id}`}>
                  <Picture
                    src={post.data.cover}
                    alt={post.data.title}
                    title={post.data.title}
                  />
                </a>
              </li>
            );
          })
        }
      </ul>

      <!-- Pagination controls -->
      {
        page.lastPage > 1 && (
          <nav>
            {page.url.prev && <a href={page.url.prev}>Previous Page</a>}
            {pageNums.map((num) => (
              <a href={`/vault/${num === 1 ? "" : num + "/"}`}>{num}</a>
            ))}
            {page.url.next && <a href={page.url.next}>Next Page</a>}
          </nav>
        )
      }
    </div>
  </div>
</BaseLayout>
